
<div >
    <app-search></app-search>
    <product-list></product-list>
</div>
    
<!-- <div *ngFor="let item of stringList">
<p>value of element in array is :{{item}} </p>
</div> -->
<!-- <div class="product-div">
    <p>productlist works!</p> -->
<!-- interpolution -->
<!-- <img src={{product.image}}> -->


<!-- property binding -->
<!-- <img [src]="product.image">

<button (click)="decrementcartvalue()">-</button>
<span>{{cartvalue}}</span>
<button (click)="incrementcartvalue()">+</button> -->



<!-- static data representation -->

<!-- <p>Name: One Plus</p>
<p>price: 999</p>
<p>color: red</p>
<p>discountPrice: 699</p> -->

<!-- String interpolution  -->

<!-- <p>Name: {{name}}</p>
<p>price: {{price}}</p>
<p>color: {{color}}</p>
<p>discountPrice: 699</p>  -->


<!-- String interpolution  product object -->
<!-- <p>Name: {{product.name}}</p>
<p>price: {{product.price}}</p>
<p>color: {{product.color}}</p> -->

<!--  one way -->

<!-- <p>discountPrice: {{product.price-product.discount *product.price/100}}</p>  -->

<!-- fuction call -->


<!-- <p>discountPrice: {{getDiscountPrice()}} </p> -->
<!-- for Hidden ,Disabled,Checked string interpolution will not work ,there we ca use propert binding  -->

<!-- <p>{{product.instock>0 ? 'only ' + product.instock + ' items left':'Not in stock'}} </p> -->

<!-- Propert binding  -->
<!-- <button [disabled]="!(product.instock>0) ">Buy now !!</button> -->
<!-- <br> -->

<!-- <input [value]="name"> -->
<!-- <br> -->
<!-- or we can use below bindkeyword before value another way of using property binding...
    Here we can use attribute binding for some attributes where propert binding will not work
    like areial-label,arial-hidden,data-id,colspan etc.....
    below input tag will show how to use attribute binding
 -->
<!-- <input bind-value="name" [attr.aria-hidden]=""> -->


<!-- <input (input)="onNameChange($event)"> -->

<!-- <p>username is '{{name}}'</p> -->

<!-- </div> -->