
<!-- using bootstarp in angular where metioned the path 
 "styles": [
              "node_modules/bootstrap/dist/css/bootstrap.min.css",
              "src/styles.scss"
            ],-->
<!-- <button type="button" class="btn btn-outline-danger">Danger</button> -->
<!-- <app-assignments></app-assignments> -->
<!-- <app-gridstack></app-gridstack> -->
<!-- <app-topheader></app-topheader> -->
<div class="bg">
  <app-header></app-header>
<app-container></app-container>
</div>

<!-- <product-list></product-list> -->