<app-filter
  [all]="totalProductCount"
  [inStock]="totalproductInStock"
  [outOfstock]="totalproductOutOfStock"
  (selectedFilterRadioButtonchanged)="onFilterChanged($event)"
></app-filter>
<div class="ekart--products--container">
  <div *ngFor="let prod of products" (click)="selectedproduct=prod">
    <!-- below is to filter the products based on instock or outofstock  -->
    <!-- <app-product  [product]="prod" *ngIf="(selectedFilterRadioButton=== 'all' || prod.is_in_inventory.toString() === selectedFilterRadioButton)"  ></app-product> -->
    
    <!-- search -->
    <app-product  [product]="prod" *ngIf="searchText === '' || prod.name.toLocaleLowerCase().includes(searchText)"></app-product> 
  </div>
  
</div>
