.input-textform{
    width: 40%;
}
.main-div{
    background-color: aquamarine;
    box-sizing: border-box;
    border-radius: 10%;
    padding: 12%;
    margin: 23%;
    margin-top: -5px;

}
.event{
    background-color: white;
    width: 30%;
}