<div class="ekart--search--product">
    <!-- one way using property and event binding -->
    <!-- <input class="ekart-search-product-input" [value]="searchtext" (input)="updatesearchtext($event)" > -->

    <!-- antother way using ngModel two ay binding -->
    <!-- <input class="ekart-search-product-input" [(ngModel)]="searchtext" (input)="onSearchTextChanged()"> -->
     

    <!-- using search button serch functionality should work -->
    <input class="ekart-search-product-input"  #searchInput>


    <!-- <button class="btn btn-search" [disabled]="!searchtext" >Search</button> -->

    <!-- <button [ngClass]="{'btn':true, 'btn-search':searchtext  ,'btn-search-disabled' :!searchtext}" [disabled]="!searchtext" >Search</button> -->


    <!-- here we have used #searchInput templete reference variable(TRV) created at input feild where this
          TRV store the reference event ,and we passed  TRV as an argument to the function 
          updatesearchtext() and accessed in that function ,
           To avoid or without passing as an argument we can aceess the value directly using ViewChild()
           Decorater ,to that VIewChild() funvction we need to pass a the TRV as a string argument and therewe store the value in some comnst 
           variable and we can accesss that element 
        (i).is the first menthoid using passinhg the TRV as an argument to the function
        (ii).with Viewchild( '') decorater function
        -->


        <!-- (i) -->
    <!-- .<button class="bnt btn-search"  (click)="updatesearchtext(searchInput)">Search</button>  -->

    <!--  (ii)-->

    .<button class="bnt btn-search"  (click)="updatesearchtext()">Search</button>

</div>
<div class="ekart-search-result-for">
    <p *ngIf="searchtext != ''"><strong>Search result for:</strong> {{searchtext}}</p></div>